.Loader {
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

.Loader svg path,
.Loader svg rect {
  fill: #c6d8ff;
}

.Loader svg {
  enable-background: new 0 0 50 50;
}
